<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
        <title>Document</title>
    </head>

    <body>
        <h1>Numbers API</h1>
        <h1>Random Number Game</h1>
        <form action="/" method="post">
            <label for="fruits">Choose a type:</label>
            <select id="type" name="type">
                <option value="trivia" selected>Trivia</option>
                <option value="math">Math</option>
                <option value="date">Date</option>
                <option value="year">Year</option>
            </select>
            <br />
            <button type="submit">Submit</button>
        </form>

        <% if (locals.type) { %>
        <div>
            <h2>Random <%= type %></h2>
            <p><%= data %></p>
        </div>
        <% } %>


    </body>

</html>